<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/general_style.css' %} " type="text/css">
</head>
<body>
    <div class="auth-container">
        <div class="login-form">
            <h2>Авторизация</h2>
            <form method="POST">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Войти">
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{% if message.tags %}
                            {{ message }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="register-button">
            <a href="/users/registration/">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>